@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: local('Ubuntu'), url(http://example.com/fonts/ubuntu.woff) format('woff');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Ubuntu, "times new roman", times, roman, serif;
   
}


*, *::after, *::before{
    box-sizing: inherit;
}

body{
    background-color: aliceblue;
    font-family: Ubuntu;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.image{
    padding: 20px;
    background-color: white;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    box-shadow: 50px 20px 30px -15px rgba(199,199,199,1);
    height: 460px;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0px 20px 20px -15px rgba(199,199,199,1);
    padding-left: 80px;
    padding-right: 100px;
    height: 500px;
}

.form-heading{
    padding-top: 30px;
    color: hsl(213, 96%, 18%); 
}

.form-paragraph{
    padding-bottom: 30px;
    color: rgb(152, 152, 152);
}

.form-label{
    color: hsl(213, 96%, 18%); 
}
.form-input{
    width: 380px;
    height: 30px;
    font-size: 17px;
    border-radius: 5px;
    padding: 7px;
    margin-top: 0;
    border-color:rgba(199,199,199,1) ;
}

input:focus{
    outline: none;
}

.form-input::placeholder{
    color: rgb(152, 152, 152);
}

.form-button{
   background-color: hsl(213, 96%, 18%); 
   color: white;
   font-size: 18px;
   padding: 12px;
   width: 90px;
   border-radius: 5px;
   font-size: 15px;
}

.button{
    display: flex;
    justify-content: flex-end;
    padding: 50px;
}